.shop-poster_layout {
  position: fixed;
  top: -100000px;
  left: -100000px;
  // width: 646px;
  // height: 1028px;
  overflow: hidden;

  .poster-canvas_wrap {
    .shopPoster {
      width: 100%;
      height: 100%;
    }
  }
}

.shop-poster_fixed {
  position: fixed;
  bottom: -100000px;
  left: -100000px;
  z-index: 999;

  // .shop-poster_img {
  //   width: 549px;
  //   height: 874px;
  // }
}

.shop-poster_visible {
  // bottom: 400px;
  // left: 50%;
  // transform: translateX(-50%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);

  .poster-remove {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 100px;
    cursor: pointer;
  }

  .poster-button {
    width: 460px;
    height: 80px;
    margin-top: 20px;
    color: #fff;
    font-size: 28px;
    line-height: 80px;
    text-align: center;
    border-radius: 48px;
    background: #ff8d56;
    cursor: pointer;
  }
}
