module.exports = {
    v: function v() {
      for (var i = 0; i < arguments.length; i++) {
        var value = arguments[i]
        if (value !== undefined && value !== null) {
          return value
        }
      }
  
      return ''
    },
    tid: function (type, ancestor) {
      var items = ancestor.split(',');
      var depth = 1;
  
      for (var i = 0; i < items.length; i++) {
        if (type === items[i]) {
          depth = depth + 1;
        }
      }
  
      return depth === 1 ? 'oc_' + type : 'oc_' + depth + '_' + type;
    },
    isNil: function (value) {
      return value === undefined || value === null
    }
  };
  