function toFloat(habitCalendar) {
  var value = (habitCalendar.actual / habitCalendar.plan) * 100
  console.log(value)
  return value.toFixed(2)
}

module.exports = {
  toFloat: toFloat,
  touchmove: function(event, instance) {
    // instance为当前点击的元素实例
    
    // 获取目标dom实例
    var instance2 = instance.selectComponent('.progress-item'), tout = 0

    // 执行页面方法 add
    instance2.callMethod('add')

    // 延迟计算宽度
    tout = instance2.setTimeout(function(){
      // 获取目标的dataset
      var ds = instance2.getDataset().d

      // 设置目标的style
      instance2.setStyle({
        "width": toFloat(ds)+"%"
      })

      // 清除timeout
      instance2.clearTimeout(tout)
    }, 100)
  }
};