* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


body, html {
    width: 100%;
    height: 100%;
}
// 顶部
.trusted-head-box .floatleft {
    float: left;
}

.trusted-head-box .floatright {
    float: right;
}

.trusted-head-box .ts-bg1 {
    background: #21ad49;
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    color: white;
    font-size: 16px;
}

.trusted-head-box .cun {
    width: 36px;
    padding-top: 14px;
    margin-left: 20px;
}

.trusted-head-box .pdt1 {
    width: 18px;
    height: 23px;
    background: url(../images/gou-logo.png) no-repeat;
}

.trusted-head-box .right {
    height: 100%;
    text-align: center;
    display: flex;
}

.trusted-head-box .right div:nth-child(1) {
    height: 48px;
    width: 80px;
    line-height: 48px;
    margin-right: 36px;
}

.trusted-head-box .right .detail-link {
    display: inline-block;
    color: #ffe6ae;
    font-size: 14px;
    margin: auto;
    vertical-align: center;
}

.trusted-head-box .pinpaiguanwang {
    display: inline-block;
    width: 100px;
    height: 38px;
    margin-top: 5px;
    line-height: 48px;
    margin-right: 95px;
    background: url(../images/pinpaiguanwang.jpg) no-repeat;
    background-size: contain;
}
.bg{
    background: #f0eadc;
}
.ts-bg2 {
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
}
.ts-bg2 .mar-ll{
    flex: 1;
    float: left;
}
.ts-bg2 .mar-l {
    flex:5;
    height: 42px;
    font-size: 13px;
    color: #5fbf89;
    float: left;
    display: flex;
    // justify-content: center;
    align-items: center;
}


.ts-bg2 li i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../images/gou-logo2.png);
}
.ts-bg2 li a {
    display: inline-block;
    color: #5fbf89;
    text-decoration: underline;
}


.ts-bg2 li span, .ts-bg2 li a {
    padding-left: 14px;
}
.fixbig{
    height: 900px;
    width: 200px;
    background: white;
    position: fixed;
    right: -200px;
    top: 0;
    z-index: 9999;
}


// 右边fix部分
.right-fix{
    height: 900px;
    width: 40px;
    background: #4d4d4c;
    position: relative;
    z-index: 9999;
    left:-40px;
    top: 0;
    .hide{
        width: 90%;
        height: 80px;
        background: url(../images/hide.png) no-repeat;
        // display: none;
        position: absolute;
     
    }
    .show{
        width: 90%;
        height: 80px;
        background: url(../images/show.png) no-repeat;
        position: absolute;
        display: none;
    }
    li:nth-child(1){
        margin-top: 80px;
    }
    ul{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        li{
            color: white;
            // display: flex;
            text-align: center;
            height: 45px;
            width: 100%;
            position: relative;
            .huachu{
                width:39px;
                height: 19px; 
                font-size: 19px;
                position: absolute;
                right: -39px;
                background: red;
                top: 0;
            }
            i{
                width:19px;
                height: 19px; 
                font-size: 19px;
                cursor: pointer;
            }
            em{
                display: none;
            }
        }
        li:nth-last-child(3){
            // margin-top: 200px;
        }
        li:nth-child(1) i{
            border-bottom: 1px solid #383838;
        }
        li:nth-child(2){
            width:19px;
            height: 157px;
            margin: auto;
            flex-direction: column;
            justify-content: space-around;
            div{
                font-size: 14px;

            }
        }
    }
   
}
